body {
    background: #CCCCCC
}

#banner{
   width: 550px;
}

h1{
    text-align: center;
    background: #CCCCCC    
}

p{
    text-align: center;
    font-size: 35px;
}


 em strong{
     color: red
 }
    