header {
    background: #BBBBBB;
    padding: 20px ;
    
}
nav li 
    display:inline;
     margin: 0 0 0  15px
     padding: 30px 20px;
     box-sizing: border-box;
}

nav a {
    text-transform:uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color:#C78C19;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width:30%;
    vertical-align: top;
    background:#CCCCCC
    margin: 0 1.5%;
    padding: 30px 20px
    box-sizing:border-box;
    border-color:#000000;
    border-width:2px;
    border-style:solid #000000
    border-radius: 10px;

}

.produtos li:hover{
    border:#C78C19;
    font-size: 40px;
}
.produtos li:active{
    border: color #088c19;

}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight:bold;

}

.produto-descricao {
     font-size: 18px;
}
    

 
.produto-preco{
    font-size: 30px;
    fony-weight: bold;
}

footer{
    text-align:center
    background: url("bg.jpg")
    padding: 40px 0;


}

main {
    width: 940px;
    margin: 0 auto;
}
form {
    margin: 40px 0;
}
form label{
    display:block;
    font-size: 20px;
    margin: 0 0 10px;

}
form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
